* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.logo-wrapper {
    display: flex;
    gap: 5px;
    align-items: center;
}
.logo-icon {
    color: #16a34a;
    font-size: 30px;
}
.header-container {
    display: flex;
    justify-content: space-between;
    padding: 20px 25px;
    border-bottom: 1px solid #e5e7eb;
    align-items: center;
}
.nav-items {
    list-style: none;
    display: flex;
    gap: 20px;
}
.nav-item a {
    text-decoration: none;
    color: #4b5563;
}
.primary-btn {
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: #16a34a;
    padding: 10px 20px;
    border-radius: 7px;
}

.hero-container {
    padding: 50px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hero-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex-basis: 50%;
}
.hero-text-tag {
    background-color: #e5e7eb;
    color: #4b5563;
    width: fit-content;
    padding: 2px 10px;
    border-radius: 20px;
}
.hero-heading {
    font-size: 50px;
}
.hero-paragraph {
    /* color: #6b7280; */
    color: #4b5563;

}
.hero-lists {
    list-style: none;
    color: #4b5563;
}
.hero-list i {
    color: #16a34a;
}
.hero-list {
    display: flex;
    align-items: center;
    gap: 5px;
}
.hero-btn-wrapper {
    display: flex;
    gap: 12px;
}
.outlined-btn {
    display: inline-block;
    text-decoration: none;
    color: black;
    padding: 10px 20px;
    border-radius: 7px;
    border: 1px solid #e5e7eb;
}

/* Hero image */
.hero-image {
    width: 500px;
    height: 400px;
    border-radius: 10px;
}

/* how-it-works */
.how-it-works {
    background-color: #e0f2f1;
    padding: 50px 25px;
}
.how-it-works-title {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.how-it-works-title h3 {
    font-size: 32px;
    font-weight: 500;
}
.how-it-works-title p {
    color: #4b5563;
}
.how-it-works-card-container {
    display: flex;
    gap: 30px;
    margin-top: 40px;
}
.how-it-works-card {
    background-color: white;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-radius: 10px;
}
.how-it-works-card h4 {
    font-size: 20px;
    font-weight: 600;
}
.how-it-works-card p {
    color: #4b5563;
}
.card-icon {
    background-color: #e0f2f1;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color: #059669;
}

/* everything you need */
.everything-you-need {
    padding: 50px 25px;
}
.everything-you-need-title {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.everything-you-need-title h3 {
    font-size: 32px;
    font-weight: 500;
}
.everything-you-need-title p {
    color: #4b5563;
}

.everything-you-need-card-container {
    display: flex;
    gap: 30px;
    margin-top: 40px;

}
.everything-you-need-card {
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-radius: 8px;
    border: 1px solid #e5e7eb;
}
.everything-you-need-card h4 {
    font-size: 20px;
    font-weight: 600;
}
.everything-you-need-card p {
    color: #4b5563;
}
.everything-you-need-card ul {
    color: #4b5563;
    list-style: none;
}

/* create a free account section */
.create-account {
    background-color: #e0f2f1;
    padding: 50px 25px;
}
.create-account-box {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #16a34a;
    border-radius: 10px;
    padding: 50px;
    justify-content: center;
    align-items: center;
    color: white;
}
.create-account-box h1 {
    font-size: 40px;
}
.create-account-box p {
    width: 500px;
    font-size: 15px;
}
.create-account-link {
    display: inline-block;
    text-decoration: none;
    color: black;
    background-color: white;
    border-radius: 5px;
    padding: 10px 20px;
    width: fit-content;
}

footer {
    padding: 40px 25px;
    display: flex;
    justify-content: space-between;
    color: #4b5563;
    border-top: 1px solid #e5e7eb;
    margin-top: 40px;
}
