* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-size: 1.6rem;
}
html {
    font-size: 62.5%; 
    /* 1rem equals 10px */
}
@media (max-width:1200px) {
    html {
        font-size: 50%;
    }
}


/* header */
.logo-wrapper {
    display: flex;
    gap: 5px;
    align-items: center;
}
.logo-icon {
    color: #16a34a;
    font-size: 3rem;
}
.header-container {
    display: flex;
    justify-content: space-between;
    padding: 2rem 2.5rem;
    border-bottom: 1px solid #e5e7eb;
    align-items: center;
}
.nav-items {
    list-style: none;
    display: flex;
    gap: 2rem;
}

@media (max-width:650px) {
    .nav-items {
        display: none;
    }
}
.nav-item a {
    text-decoration: none;
    color: #4b5563;
}
.primary-btn {
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: #16a34a;
    padding: 1rem 2rem;
    border-radius: 7px;
}


/* hero section */
.hero-container {
    padding: 5rem 2.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hero-content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    flex-basis: 50%;
}
.hero-text-tag {
    background-color: #e5e7eb;
    color: #4b5563;
    width: fit-content;
    padding: 2px 1rem;
    border-radius: 2rem;
}

@media (max-width:300px) {
    .hero-text-tag {
        font-size: 1rem;
    }
}
.hero-heading {
    font-size: 5rem;
}
@media (max-width:900px) {
    .hero-heading {
        font-size: 3rem;
    }
}
.hero-paragraph {
    /* color: #6b7280; */
    color: #4b5563;

}
.hero-lists {
    list-style: none;
    color: #4b5563;
}
.hero-list i {
    color: #16a34a;
}
.hero-list {
    display: flex;
    align-items: center;
    gap: 5px;
}
.hero-btn-wrapper {
    display: flex;
    gap: 1.2rem;
    flex-wrap: wrap;
}

.outlined-btn {
    display: inline-block;
    text-decoration: none;
    color: black;
    padding: 1rem 2rem;
    border-radius: 7px;
    border: 1px solid #e5e7eb;
}


/* Hero image */
.hero-image {
    width: 50rem;
    height: 40rem;
    border-radius: 1rem;
}
@media (max-width:900px) {
    .hero-image {
        width: 40rem;
        height: 30rem;
    }
}

@media (max-width:730px) {
    .hero-image-wrapper {
        display: none;
    }
    .hero-content {
        flex-basis: 100%;
    }
}


/* how-it-works section */
.how-it-works {
    background-color: #e0f2f1;
    padding: 5rem 2.5rem;
}
.how-it-works-title {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.how-it-works-title h3 {
    font-size: 3.2rem;
    font-weight: 500;
}
.how-it-works-title p {
    color: #4b5563;
}
.how-it-works-card-container {
    display: flex;
    gap: 3rem;
    margin-top: 4rem;
}
@media(max-width:650px) {
    .how-it-works-card-container {
        flex-direction: column;
    }
}
.how-it-works-card {
    background-color: white;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    border-radius: 1rem;
}
.how-it-works-card h4 {
    font-size: 20px;
    font-weight: 600;
}
.how-it-works-card p {
    color: #4b5563;
}
.card-icon {
    background-color: #e0f2f1;
    width: 3.2rem;
    height: 3.rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color: #059669;
}


/* everything you need section */
.everything-you-need {
    padding: 5rem 2.5rem;
}
.everything-you-need-title {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.everything-you-need-title h3 {
    font-size: 3.2rem;
    font-weight: 500;
}
.everything-you-need-title p {
    color: #4b5563;
}

.everything-you-need-card-container {
    display: flex;
    gap: 3rem;
    margin-top: 4rem;
}
@media (max-width:650px) {
    .everything-you-need-card-container {
        flex-direction: column;
    }
}
.everything-you-need-card {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    border-radius: 8px;
    border: 1px solid #e5e7eb;
}
.everything-you-need-card h4 {
    font-size: 2rem;
    font-weight: 600;
}
.everything-you-need-card p {
    color: #4b5563;
}
.everything-you-need-card ul {
    color: #4b5563;
    list-style: none;
}


/* create a free account section */
.create-account {
    background-color: #e0f2f1;
    padding: 5rem 2.5rem;
}
.create-account-box {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: #16a34a;
    border-radius: 1rem;
    padding: 5rem;
    justify-content: center;
    align-items: center;
    color: white;
}
.create-account-box h1 {
    font-size: 4rem;
    text-align: center;
}
@media (max-width:700px) {
    .create-account-box h1 {
        font-size: 3rem;
    } 
}
.create-account-box p {
    width: 50rem;
    font-size: 1.5rem;
    text-align: center;

}

@media (max-width:700px) {
    .create-account-box p {
        width: fit-content;
    }
}

.create-account-link {
    display: inline-block;
    text-decoration: none;
    color: black;
    background-color: white;
    border-radius: 5px;
    padding: 1rem 2rem;
    width: fit-content;
}


/* footer */
footer {
    padding: 4rem 2.5rem;
    display: flex;
    justify-content: space-between;
    color: #4b5563;
    border-top: 1px solid #e5e7eb;
    margin-top: 4rem;
}
@media (max-width:700px) {
    footer {
        flex-direction: column;
        gap: 10px;
    }
}
